@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$green: #b4cfb0;
$light-green: #c4e2bf;
$darker-green: #94b49f;
$grey-blue: #789395;
$beige: #e5e3c9;
$beige-lighter: #f0efdf;
$pink: rgb(218, 76, 100);
$light-yellow: #e9f5e6;
$light-pink: rgb(253, 200, 209);


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $grey-blue;
$grey-light: $beige;
$primary: $light-green;
$link: $darker-green;
$danger: $pink;
$warning: $light-yellow;
$widescreen-enabled: false;
$fullhd-enabled: false;
$info: $light-pink;



// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-padding: 0.5rem;

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";
