<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="No Matter How Small" />
    <meta property="og:description" content="Made for the paediatric anaesthetist - Precise drug dosing and easy access to local and national guidelines" />
    <meta property="og:image" content="images/open-graph.jpg" />
    <meta property=”og:type” content=”website” />
    <meta property=”og:url” content=”https://paedsinduction.com” />

    <link rel="stylesheet" href="css/mystyles.css" />

    <title id="title">No Matter How Small</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>
    <!-- Navigation Bar -->
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="images/favicon.ico" height="112" />
        </a>

        <a
          role="button"
          class="button is-rounded navbar-burger has-background-warning"
          data-target="navMenu"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Cheatsheet </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/emergencies"> Guidelines</a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/emergencies"> Emergencies </a>
              <a class="navbar-item" href="/perioperative"> Perioperative </a>
              <a class="navbar-item" href="/pain"> Pain </a>
              <!-- <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a> -->
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/starterpack">
              RBHSC Induction Documents
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/starterpack">
                For Trainees &#128274
              </a>
              <!-- <a class="navbar-item" href="/powerpoints">
                Powerpoint Welcomes
              </a> -->

              <!-- <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a> -->
            </div>
          </div>

          <a class="navbar-item" href="/formulae"> Formulae </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/contact" class="button is-primary" id="contact">
                <strong>Contact</strong>
              </a>
              <a class="button is-light is-hidden"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- End Nav Bar -->

    <!-- title -->

    <div class="is-hidden-desktop has-text-centered has-background-white px-1">
      <!-- <div></div> -->
      <h1 id="topBox" class="title is-size-4 pt-1 mb-0 has-text-link">
        <%= title %>
      </h1>
      <!-- <div class="is-align-self-center is-size-7 has-text-weight-bold">MENU &#9757;</div> -->
    </div>
