<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/mystyles.css" />

    <title id="title">No Matter How Small</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="images/favicon.ico" height="112" />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Cheatsheet </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/emergencies"> Protocols </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/emergencies"> Emergencies </a>
              <a class="navbar-item" href="/perioperative"> Perioperative </a>
              <a class="navbar-item" href="/pain"> Pain </a>
              <!-- <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a> -->
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/starterpack"> Induction </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/starterpack"> Trainee Guidelines </a>
              <a class="navbar-item" href="/powerpoints"> Induction Powerpoint Presentations </a>

              <!-- <hr class="navbar-divider" />
              <a class="navbar-item"> Report an issue </a> -->
            </div>
          </div>

         
        </div>
      
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Contact</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <!-- End Nav Bar -->

<!-- title -->



    <h1 id="topBox" class="title box my-4 has-text-link has-text-centered" >
      <%= title %>  </h1>
  




 
