





  <div style="float: right; margin: 0 " class="is-hidden-tablet">
    
    <div class="box is-dark has-text-justified" style="position: fixed; z-index:1">
      <a href="/#analgesia" class="" style="text-decoration: none;">&#128071;
      <span class="is-size-7">to PCA</span> </a>
    </div>
  
  </div>

