

  <div style="float: right; margin: 0 " class="is-hidden-tablet">
    
    <div class="box is-dark has-text-justified" style="position: fixed; z-index:1">
      <ul>
        
      <li><a href="#topBox">⇑</a></li>
      <li><a href="#analgesia">⇓</a></li>
    </ul>
    </div>
  
  </div>

