    <!-- start of tabs -->
    <div class="container mt-5">
      <div class="tabs is-boxed my-0">
        <ul>
          <li class="is-active" ><a href="/emergencies">Emergencies</a></li>
          <li id="airway"><a href="/perioperative">Perioperative</a></li>
          <li><a href="">Pain</a></li>
        </ul>
      </div>

    <!-- end of tabs -->
