    <!-- start of tabs -->
    <div class="container mt-5">
      <div class="tabs is-boxed my-0">
        <ul>
          <li class="is-active"><a href="/">Drugs</a></li>
          <li><a href="/airway">Airway + Fluids</a></li>
          <li><a href="/wetflag">wetflag</a></li>
        </ul>
      </div>

    <!-- end of tabs -->


