



 <% if (isNaN(weight) ){ %>
    <% weight = "..." %>
  <% } else { %>
    <% weight = weight %>
  <% }; %>
  
  <% if (isNaN(age) ){ %>
    <% age = "..." %>
  <% } else { %>
    <% age = age %>
  <% }; %>



  <div style="float: right; margin: 0vw 15vw">
    
    <div class="box is-hidden-tablet is-size-7" style="position: fixed; z-index:1">
      for a child of <span class="has-text-danger has-text-weight-bold is-size-6" id="weight"><%= weight %></span> kg, aged <span class="has-text-danger has-text-weight-bold is-size-6" id="age"><%=age %></span> years
    </div>
  </div>

