<%- include ("partials/header") -%>

<!-- navigation bar -->

<div class="notification is-primary">
  <!-- column 1 -->
  <div class="box">
    <div class="container my-5 mt-5 mx-5 px-5">
      <a href="mailto:paedsinduction@gmail.com"
        ><button class="button is-primary">Send an email</button></a
      >
    </div>
    <div class="container my-5 mt-5 mx-5 px-5">
      <a href="mailto:paedsinduction@gmail.com"></a>
    </div>
  </div>
</div>

<%- include ("partials/footer-protocols") -%>
