<%- include ("partials/header") -%>

<!-- navigation bar -->

<div class="notification is-primary">
  <!-- column 1 -->
  <div class="box">
    <div class="container my-5 mt-5 mx-5 px-5">
      <form id="contactForm">
        <div class="field">
          <label
            for="name"
            class="label is-size-5 has-text-weight-light"
          ></label>
          <div class="control has-icons-left">
            <input
              type="text"
              name="name"
              id="name"
              class="input"
              placeholder="Name"
              autofocus
              required
            />
            <span class="icon is-left">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label
            for="email"
            class="label is-size-5 has-text-weight-light"
          ></label>
          <div class="control has-icons-left">
            <input
              type="email"
              name="email"
              id="email"
              class="input"
              placeholder="Email"
              required
            />
            <span class="icon is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label
            for="message"
            class="label is-size-5 has-text-weight-light"
          ></label>
          <textarea
            name="message"
            id="message"
            rows="5"
            class="textarea is-medium"
            placeholder="Message"
            required
          ></textarea>
        </div>

        <div class="is-vcentered columns">
          <div class="column is-one-fifth">
            <button type="submit" id="contactButton" class="button is-success is-small">
              Submit
            </button>
          </div>
         
        </div>
      </form>
    </div>
  </div>
</div>

<script src="contact.js"></script>
<%- include ("partials/footer-protocols") -%>
