<%- include ("partials/header") -%>

<!-- navigation bar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li class="is-active"><a href="/emergencies">Emergencies</a></li>
      <li id="airway"><a href="/perioperative">Perioperative</a></li>
      <li><a href="/pain">Pain</a></li>
    </ul>
  </div>

  <!-- start of main content -->

  <div class="notification is-primary">
    <div class="columns">
      <div class="column">
        <!-- column 1 -->
        <div class="box">
          <div class="buttons">
            <a href="pdfs/cardiac-arr.pdf">
              <button class="button is-primary arr-button">
                Cardiac Arrhythmias
              </button></a
            >
          </div>

          <!-- <div class="modal" id="arr-modal">
            <div class="modal-background "></div>
            <div class="modal-content">
             

              <embed src="pdfs/cardiac-arr.pdf" frameborder="0" height="auto">
        
            </div>
            <button class="modal-close is-large arr-button" aria-label="close"></button>
          </div> -->

          <div class="modal" id="als-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <embed
                src="pdfs/ALS.pdf"
                frameborder="0"
                width="100%"
                height="700px"
              />
            </div>
            <button
              class="modal-close is-large als-button"
              aria-label="close"
            ></button>
          </div>

          <div class="buttons">
            <a href="pdfs/ALSfull.pdf"
              ><button class="button is-primary">ALS full guidelines</button></a
            >
            <button class="button als-button is-small is-primary is-light">
              🔎 Quick Glance
            </button>
          </div>
          <div class="modal" id="als-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <embed
                src="pdfs/ALS.pdf"
                frameborder="0"
                width="100%"
                height="700px"
              />
            </div>
            <button
              class="modal-close is-large als-button"
              aria-label="close"
            ></button>
          </div>

          <div class="buttons">
            <a href="pdfs/LA-tox.pdf"
              ><button class="button is-primary la-tox-button">
                LA Toxicity
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="column">
        <!-- column 2 -->
        <!-- <div class="box">

Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quis magni quos ullam magnam unde nisi dolores, vitae libero officiis illum laudantium est repudiandae vel fuga enim reprehenderit. Repellat, ipsum?

          
         
        </div> -->
      </div>
    </div>
  </div>
  <%- include ("partials/footer-protocols") -%>
</div>

<!-- end of main content -->
