<%- include ("partials/header") -%>

<div class="notification is-primary">
  <!-- column 1 -->
  <div class="box has-background-warning columns">
    <div class="container my-5 mt-5 mx-5 px-5 column">
      <!-- <h1>🚜 under construction</h1> -->

<div class="box">
  <span class="has-text-weight-bold">Premeds</span>
  <ul>
    <li>Midazolam (buccal) 0.3mg/kg to max 10mg</li>
    <li>Midazolam (oral) 0.5mg/kg to max 20mg</li>
    <li>Dexmedetomidine (intranasal) 2-4mcg/kg to max 200mcg</li>
  </ul>
</div>

<div class="box">
  
<span class="has-text-weight-bold">Induction Drugs</span> 
  <ul>
    <li>Propofol 1% 3mg/kg. conc 10mg/ml</li>
    <li>Ketamine 2.5mg/kg. conc 10mg/ml</li>
    <li>Rocuronium 0.6mg/kg. conc 10mg/ml</li>
    <li>Rocuronium (RSI) 1mg/kg. conc 10mg/ml</li>
    <li>Neostig/Glyco 0.02ml/kg to max 1ml. 2.5mg/0.5mg per ml</li>
  </ul>
</div>
<div class="box">
  
  <span class="has-text-weight-bold">Emergency Drugs</span>
  <ul>
    <li>Suxamethonium 1mg/kg to max 150mg. conc 50mg/ml.</li>
    <li>Atropine 20mcg/kg to max 600mcg. conc 600mcg/ml.</li>
  </ul>
</div>
</div>
<div class="container my-5 mt-5 mx-5 px-5 column">
<div class="box">
  <span class="has-text-weight-bold">Antibiotics</span>
  <ul>
    <li>Cefuroxime 50mg/kg to max 1500mg</li>
    <li>Co-amoxiclav 30mg/kg to max 1200mg</li>
    <li>Metronidazole 7.5mg/kg to max 500mg</li>
    <li>Gentamicin 3mg/kg</li>
  </ul>
</div>

<div class="box">
  <span class="has-text-weight-bold">Antiemetics</span>
  <ul>
    <li>Ondansetron 0.15mg/kg to max 4mg. conc 2mg/ml</li>
    <li>Dexamethasone 0.15mg/kg to max 6.6mg. conc 3.3mg/ml</li>
  </ul>
</div>
<div class="box">
  <span class="has-text-weight-bold">Analgesia</span>
  <ul>
    <li>Paracetamol IV <10kg: 7.5mg/kg</li>
    <li>Paracetamol IV ≥10kg: 15mg/kg to max 1g. conc 10mg/ml</li>
    <li>Ibuprofen 10mg/kg to max 400mg</li>
  </ul>
</div>
</div>


    </div>
  </div>
</div>

<%- include ("partials/footer-protocols") -%>
