
<%- include ("partials/header") -%> 

<!-- navbar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li class="is-active"><a href="/">Drugs</a></li>
      <li><a href="/airway">Airway + Fluids</a></li>
      <li><a href="/wetflags">WETFLAGS</a></li>
    </ul>
  </div>
  <!-- end navbar -->


      <!-- start of main content -->

      <div class="notification is-primary">
        <div class="columns">
          <div class="column">
            <!-- column 1 -->

            <div class="box">
              <form action="/" method="post">

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="weight" class=has-text-weight-bold>Weight</label>
        
                  </div>
                  <div class="field-body">
                    <div class="field columns is-vcentered">
                        <div class="column is-one-fifth px-0"><input id=weight name="weight" class="input is-success" type="number" min="0"></div>
                        <div class="column">kg</div>
                    </div> 
                  </div>
                </div>

                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label for="age" class="has-text-weight-bold">Age</label>
                  </div>
                  <div class="field-body">
                    <div class="field columns is-vcentered">
                        <div class="column is-one-fifth px-0"><input id=age name="age" class="input is-success" type="number" min="0"></div>
                        <div class="column">years </div><button type="submit" class="button is-primary mr-5">Submit</button>
                    </div>
                    
                  </div>
                </div>
                <div class="container has-text-right">
                
              </div>
               </form>
            </div>


           

    

            <div class="box columns mx-0">
              <div class="column is-half">
                <p>Midazolam (buccal) 0.3/10mg</p>
                <p>Midazolam (oral) 0.5/20mg</p>
                <p>Dexmedetomidine</p></div>
              <div class="column" id="test">amount</div>
              <div class="column">volume</div>
              <!-- <p>Propofol 3-4mg/kg</p>
              <p>Ketamine 2mg/kg IV; 10mg/kg IM</p>
              <p>Rocuronium 0.6mg/kg</p>
              <p>Rocuronium RSI 1mg/kg</p>
              <p>Neostigmine 50mcg/kg</p>
               -->
            </div>
            <div class="box">
          
              <p>Suxamethonium</p>
              <p>Atropine</p>
            </div>

            <div class="box">
              <p>Cefuroxime 50mg/kg</p>
              <p>Co-amoxiclav 30mg/kg</p>
              <p>Metronidazole 7.5mg/kg</p>
              <p>Gentamicin 3-7mg/kg</p>
            </div>

            <p></p>
            <p></p>
            <p></p>
          </div>
          <div class="column">
            <!-- column 2 -->
            <div class="box">
              <p>Paracetamol</p>
              <p>Ibuprofen</p>
              <p>Diclofenac</p>
            </div>
            <div class="box">
              <p>Ondansetron</p>
              <p>Dexamethasone</p>
            </div>

            <div class="box">
              <p>Caudal</p>
              <p>Epidural</p>
            </div>

            <div class="box">
              <p>Reduce dose of NCA/PCA morphine?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of main content -->
    <%- include ("partials/footer") -%> 