<%- include ("partials/header") -%>

<!-- navigation bar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li><a href="/emergencies">Emergencies</a></li>
      <li><a href="/perioperative">Perioperative</a></li>
      <li class="is-active"><a href="/pain">Pain</a></li>
    </ul>
  </div>
  <!-- End navigation bar -->

  <div class="notification is-primary">
    <div class="columns">
      <div class="column">
        <!-- column 1 -->

        <div class="box">
          <div class="buttons">
            <a href="pdfs/morphine.pdf"
              ><button class="button is-primary morphine-button">
                NCA/PCA MORPHINE
              </button></a
            >
          </div>
          <!-- <div class="modal" id="morphine-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <embed src="pdfs/morphine.pdf" frameborder="0" width="100%" height="700px">
          </div>
          <button class="modal-close is-large moprhine-button" aria-label="close"></button>
        </div> -->

          <div class="buttons">
            <a href="pdfs/PCA-NCA.pdf"
              ><button class="button is-primary">
                Other NCA/PCA Guidelines
              </button></a
            >
          </div>
        </div>

        <div class="box">
          <div class="buttons">
            <a href="pdfs/fractures.pdf"
              ><button class="button is-primary">Fractures</button></a
            >
          </div>

          <div class="buttons">
            <a href="pdfs/LA-infusion.pdf"
              ><button class="button is-primary">
                Wound Infiltration Catheter
              </button></a
            >
          </div>

          <div class="buttons">
            <a href="pdfs/epidural.pdf"
              ><button class="button is-primary">Epidural</button></a
            >
          </div>
          <!-- <div class="modal" id="epidural-modal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <embed src="pdfs/epidural.pdf" frameborder="0" width="100%" height="700px">
          </div>
          <button class="modal-close is-large epidural-button" aria-label="close"></button>
        </div> -->
        </div>
      </div>
      <div class="column">
        <!-- column 2 -->

        <!-- <div class="box">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum quo laboriosam deserunt dolorum. Hic maxime nemo dolore aliquam perspiciatis adipisci, voluptatum iure deserunt velit illum magnam sapiente expedita laborum?
    

       </div>
       -->
      </div>
    </div>
  </div>

  <%- include ("partials/footer-protocols") -%>
</div>
