<%- include ("partials/header") -%>

<!-- navigation bar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li><a href="/starterpack">Trainee Starter Pack</a></li>
      <li class="is-active"><a href="/powerpoints">Induction Powerpoints</a></li>
    
    </ul>
  </div> 





<div class="notification is-primary">
  
      <!-- column 1 -->
      <div class="box">
        these files are password protected &#128274
        <!-- <div class="buttons level is-mobile">
          <a href="pdfs/ppt-feb-22.pdf"><button class="button is-primary">Induction Feb 2022</button></a>
          </div>

          <div class="buttons level is-mobile">
            <a href="pdfs/ppt-nov-21.pdf"><button class="button is-primary">Induction Nov 2021</button></a>
            </div> -->

    </div>
    
  </div>

</div>

<%- include ("partials/footer-protocols") -%> 