<%- include ("partials/header") -%>

<!-- navigation bar -->
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li class="is-active"><a href="/starterpack">Trainee Starter Pack</a></li>
      <li><a href="/powerpoints">Induction Powerpoints</a></li>
    
    </ul>
  </div> 





<div class="notification is-primary">
  
      <!-- column 1 -->
      <div class="box">

        <!-- these files are password protected &#128274 -->
        
      <div class="buttons level is-mobile">
          <a href="pdfs/trainee-starter-pack.pdf"><button class="button is-primary">Starter Pack</button></a>
          </div>

    </div>
 

</div>

<%- include ("partials/footer-protocols") -%> 