
<%- include ("partials/header") -%> 
<div class="container mt-5">
  <div class="tabs is-boxed my-0">
    <ul>
      <li ><a href="/">Drugs</a></li>
      <li><a href="/airway">Airway + Fluids</a></li>
      <li class="is-active"><a href="/wetflags">WETFLAGS</a></li>
    </ul>
  </div>  <!-- start of main content -->

  <div class="notification is-primary">
    <div class="columns">
      <div class="column">
        <!-- column 1 -->
        <div class="box">
          <p>Weight (age+4) x 2</p>
          <p>Energy 4J/kg</p>
          <p>Tube diameter age/4+4</p>
          <p>Tube length oral age/2+12; nasal age/2 +15</p> 
          <p>Fluid 20ml/kg for medical, 10mg/kg for trauma</p>
          <p>Lorazepam 0.1mg/kg</p>
          <p>Adrenaline IV 0.1ml/kg of 1:10 000</p>
          <p>Glucose 10% 2ml/kg</p>
        
        </div>
        <div class="box">maybe a <a href="">link </a>to the WETFLAG calculations</div>
        

      </div>
      <div class="column">
        <!-- column 2 -->
        <div class="box">
          put a picture of ALS algorithm here
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- end of main content -->

<%- include ("partials/footer") -%> 